@{
    ViewData["Title"] = "Confirmacao apagar venda";
}

<div class="text-center">
    <h3>Realmente deseja apagar a venda?</h3>


<a class="btn btn-primary" role="button">Cancelar Exclusao</a>
<a class="btn btn-danger" role="button">Confirmar Exclusao</a>

</div>