@{
    ViewData["Title"] = "Editar Venda";
}

<div class="text-center">

    <h1 class="display-4">Editar Venda</h1>


</div>

<form>
    <div class="form-group">
        <label for="Vendedor">Vendedor</label>
        <input type="text" class="form-control" placeholder="Digite o nome do vendedor">
    </div>
    <div class="form-group">
        <label for="Vendedor">Cliente</label>
        <input type="text" class="form-control" placeholder="Digite o nome do cliente">
    </div>
    <div class="form-group">
        <label for="Vendedor">Produto</label>
        <input type="text" class="form-control" placeholder="Digite o nome do produto">
    </div>
    <div class="form-group">
        <label for="Vendedor">Marca</label>
        <input type="text" class="form-control" placeholder="Digite a marca do produto">
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Editar</button>
    <a class="btn btn-secondary btn-block" asp-controller="ControleDeEstoque" asp-action="Index">Voltar</a>
</form>
