@{
    ViewData["Title"] = "Lista de Clientes";
}
<div class="text-center">
    <h1>Lista de Clientes</h1>

    <table class="table table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Cliente</th>
                <th scope="col">Produto</th>
                <th scope="col">Marca</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Alex</td>
                <td>Frutaria Santana</td>
                <td>Mexirica 100g</td>
                <td>Fazenda do ze</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Han</td>
                <td>S.A Comercio</td>
                <td>Leite em po</td>
                <td>Longa Vida</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Apagar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Glados</td>
                <td>Portal Computadores</td>
                <td>Cabo Sata</td>
                <td>Asus</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Apagar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
